<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Samumaretiya_Stripe all rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="StripeGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Samumaretiya\Stripe\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Samumaretiya\Stripe\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">StripeValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">StripeCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="StripeGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Samumaretiya\Stripe\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with StripeGatewayConfig -->
    <virtualType name="StripeLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Samumaretiya\Stripe\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">StripeLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="StripeCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">StripeAuthorizeCommand</item>
                <item name="capture" xsi:type="string">StripeCaptureCommand</item>
                <item name="void" xsi:type="string">StripeVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="StripeAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">StripeAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">StripeResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="StripeAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Samumaretiya\Stripe\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Samumaretiya\Stripe\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Samumaretiya\Stripe\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="StripeCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Samumaretiya\Stripe\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Samumaretiya\Stripe\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Samumaretiya\Stripe\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Samumaretiya\Stripe\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="StripeVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Samumaretiya\Stripe\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Samumaretiya\Stripe\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Samumaretiya\Stripe\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Samumaretiya\Stripe\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Samumaretiya\Stripe\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="StripeResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Samumaretiya\Stripe\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Samumaretiya\Stripe\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="StripeValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">StripeConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="StripeConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Samumaretiya\Stripe\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">StripeGatewayConfig</argument>
        </arguments>
    </type>

</config>
